[MESSAGES CONTROL]
disable = missing-class-docstring,
            line-too-long,
            missing-function-docstring,
            missing-module-docstring,
            too-few-public-methods,
            too-many-locals
